<% layout('layout') -%>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui header">
            <div class="content">
                Log-in to your Prello account
            </div>
        </h2>
        <form class="ui large form <%= (errors.length > 0) ? 'error' : '' %>" action="<%= redirect_uri %>" method="post">

            <div class="ui error message">
                <% if (errors.length > 0) { %>
                    <ul class="list">
                        <% for(let i = 0; i < errors.length; i++) { %>
                            <li><%= errors[i] %></li>
                        <% } %>
                    </ul>
                <% } %>
            </div>

            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="E-mail address" value="<%= email %>">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="ui fluid large blue circular submit button">Login</div>
            </div>

        </form>

        <div class="ui stacked segment">
            <div class="ui two column grid">
                <div class="row">
                    <div class="column">
                        <p>
                            <a href="/password/reset">Forgot your password?</a>
                        </p>
                        <p>
                            <a href="/register">New to us?</a>
                        </p>
                    </div>
                    <div class="column">
                        <h4>You can also login with:</h4>
                        <p> 
                            <a class="ui github button circular" href="<%= github_login_url %>>">
                                <i class="github icon"></i>
                                Github
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document)
    .ready(function() {
        $('.ui.form')
            .form({
                fields: {
                    email: {
                        identifier  : 'email',
                        rules: [
                            {
                                type   : 'empty',
                                prompt : 'Please enter your e-mail'
                            },
                            {
                                type   : 'email',
                                prompt : 'Please enter a valid e-mail'
                            }
                        ]
                    },
                    password: {
                        identifier  : 'password',
                        rules: [
                            {
                                type   : 'empty',
                                prompt : 'Please enter your password'
                            }
                        ]
                    }
                }
            })
        ;
    });
</script>
